@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Eventour</h1>
    <p>Exploring your interest by controlling what you want to see.</p>
    
</div>

